include LICENSE
include README.md
include requirements.txt
include .env.example
include TODO_FEATURES.md
recursive-include ergo_explorer/resources *
recursive-include docs *
global-exclude *.pyc
global-exclude __pycache__
global-exclude *.so
global-exclude .git* 